* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contain{
    overflow: hidden;
}
.container {
    background-color: #674bb1;
    background-image: url('../development/images/bg-desktop.svg');
    width: auto;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .container {
        background-color: #674bb1;
        background-image: url('../development/images/bg-mobile.svg');
        padding: 0 50px;
        height: auto;
        margin-top: 0;
    }
}

.companyLogo {
    padding-top: 64px;
}

@media screen and (max-width: 600px) {
    .companyLogo {
        padding-top: 35px;
    }
}


@media all and (max-width: 600px) {
    .companyLogo img {
        width: 145px;
        margin-left: 0px;
    }
}

.illustration {
    padding-top: 60px;
    display: flex;
    padding-bottom: 106PX;
}

@media screen and (max-width: 600px) {
    .illustration img {
        width: 325px;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .illustration {
        padding-top: 60px;
        padding-bottom: 106PX;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* align-content: center; */
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

.illustration h1 {
    margin-left: 61px;
    color: white;
    font-size: 38px;
}

@media screen and (max-width: 600px) {
    .illustration h1 {
        margin-left: 0px;
        font-size: 22px;
    }
}

.info p {
    margin-left: 61px;
    margin-top: 44px;
    color: white;
    line-height: 25px;

}

@media screen and (max-width: 600px) {
    .info p {
        margin-left: 0px;
        font-size: 15px;
    }
}

.text-info {
    margin-top: 48px;
}

@media screen and (max-width: 600px) {
    .text-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.send-info {
    margin-left: 61px;
    margin-top: 32px;
    width: 200px;
    height: 57px;
    border-radius: 30px;
    background-color: #e980e7;
    color: white;
    font-size: 20px;
    box-shadow: 0px 13px 20px 0px #0808081f;
    border: none;
}

@media screen and (max-width: 600px) {
    .send-info {
        margin-left: 0px;
        width: 200px;
        height: 57px;
        background-color: white;
        color: black;
    }
}

.socialmedia img {
    width: 48px;
    height: 48px;
    display: flex;
    float: right;
    margin-top: 181px;
    padding: 0px 16px;
}

@media screen and (max-width: 600px) {
    .socialmedia img {
        width: 48px;
        height: 48px;
        margin-top: 102px;
        padding: 0px 16px;
        margin-left: 0px;
        margin-left: 11px;
    }
}
