* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after, &::before {
    box-sizing: border-box;
  }
}

html, body {
  background-color: #121725;
  height: 100%;
  font-family: 'Chivo', sans-serif;
}

//Importing Font Family | font-family: 'Chivo', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&display=swap');


//All Color list
:root {
  --primary-color: #54E6AF;
  --secondary-color: #2C344B;
  --black-color: #121725;
  --white-color: #ffffff;
  --text-color: #C2CBE5;
  --text-bold-color: #5A668A;
}

main.main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100svh;
}

.container {
  max-width: 1275px;
  margin: auto;
  width: 100%;
  min-height: calc(100dvh - 260px);
  background-image: url("desktop/image-host.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-header {
  flex: 1;
}

.promo-middle-part {
  max-width: 723px;
  width: 100%;
  flex: 5;
  background-color: var(--black-color);
}

.promo-middle-part-content {
  margin-top: 88px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;

  h1 {
    font-family: "Chivo", sans-serif;
    color: var(--white-color);
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;

    span {
      font-family: "Chivo", sans-serif;
      color: var(--primary-color);
      font-weight: 300;
      display: inline-block;
    }
  }

  p {
    max-width: 445px;
    color: var(--text-color);
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
  }

  form {
    max-width: 427px;
    width: 100%;

    input[type=email] {
      width: 100%;
      background-color: var(--text-bold-color);
      padding: 1rem;
      height: 56px;
      border-radius: 2rem;
      border: 1px solid transparent;
      color: var(--white-color);
      flex: 5;

      &:focus {
        outline: none;
      }

    }
    
  }
}

.email-form {
  position: relative;
  width: 100%;

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--black-color);
    border-radius: 2rem;
    font-weight: bold;
    display: block;
    height: 46px;
    padding: 9px 27px;
    cursor: pointer;
  }

}

.podcast-profile-area {

}
