* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after, &::before {
    box-sizing: border-box;
  }
}

html, body {
  background-color: #121725;
  height: 100%;
}

body {
  font-family: 'Chivo', sans-serif;
}

//Importing Font Family | font-family: 'Chivo', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&display=swap');


//All Color list
:root {
  --primary-color: #54E6AF;
  --secondary-color: #2C344B;
  --black-color: #121725;
  --white-color: #ffffff;
  --text-color: #C2CBE5;
  --text-bold-color: #5A668A;
}

main.main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100svh;
}

.container {
  position: relative;
  max-width: 1275px;
  margin: auto;
  width: 100%;
  min-height: calc(100dvh - 260px);
  background-image: url("desktop/image-host.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media all and (max-width: 768px) {
    min-height: 100vh;
    background-image: url("tablet/image-host.jpg");
  }
  @media all and (max-width: 576px) {
    background-image: url("mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.top-header {
  flex: 1;

  img {
    position: relative;
    bottom: 28px;
    cursor: pointer;
    @media all and (max-width: 768px) {
      bottom: 0;
      padding: 2rem;
    }
  }
}

.promo-middle-part {
  max-width: 723px;
  width: 100%;
  flex: 5;
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media all and (max-width: 768px) {
    max-width: 635px;
    width: 100%;
    padding-left: 2rem;
    flex: 1;
    justify-content: flex-start;
  }
}

.promo-middle-part-content {
  margin-top: 88px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  @media all and (max-width: 768px) {
    margin-bottom: 64px;
  }

  h1 {
    font-family: "Chivo", sans-serif;
    color: var(--white-color);
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
    @media all and (max-width: 768px) {
      font-size: 48px;
      line-height: 56px;
    }

    span {
      font-family: "Chivo", sans-serif;
      color: var(--primary-color);
      font-weight: 300;
      display: inline-block;
    }
  }

  p {
    max-width: 445px;
    color: var(--text-color);
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
  }

  form {
    max-width: 427px;
    width: 100%;

    input[type=email] {
      width: 100%;
      background-color: var(--text-bold-color);
      padding: 1rem 11rem 1rem 1rem;
      height: 56px;
      border-radius: 2rem;
      border: 1px solid transparent;
      color: #ffffff;

      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.5);
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.5);
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(255, 255, 255, 0.5);
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: rgba(255, 255, 255, 0.5);
      }

    }

  }
}

.email-form {
  position: relative;
  width: 100%;

  button {
    font-family: 'Chivo', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--black-color);
    border-radius: 2rem;
    display: block;
    height: 46px;
    padding: 9px 27px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
  }

}

.podcast-profile-area {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 30px;
  @media all and (max-width: 768px) {
    margin-bottom: 0;
  }
}

.dot-bg {
  position: absolute;
  right: 0;
  bottom: -20px;
  @media all and (max-width: 768px) {
    right: auto;
    left: 2rem;
    bottom: 0;
  }
  @media all and (max-width: 576px) {
    display: none;
  }
}

small#email_error {
  color: #FB3E3E;
  position: absolute;
  left: 20px;
  margin-top: 5px;
  width: 100%;
  display: block;
  font-size: 12px;
  line-height: 18px;
}
