/*============================
     Common Header Banner
  ============================*/
.g-common-banner-main {
  margin-bottom: 50px;

  figure {
    position: relative;
    border-radius: 10px;

    img {
      width: 100%;
    }

    figcaption {
      position: absolute;
      max-width: 445px;
      width: 100%;
      left: 85px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;

      h1 {
        color: #FEFCF7;
        font-family: 'Fraunces', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
      }

      h1.plan {
        color: #FEFCF7;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px;
        margin-bottom: 30px;
      }

      p {
        color: #FEFCF7;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
    }
  }

}


/*============================
         Commitment
  ============================*/
.g-commitment-area {
  margin: 115px 0 165px;
}

.g-commitment-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 520px;
  height: 100%;
  gap: 125px;

  > * {
    flex: 1;
  }
}

.g-left-image {
  img {
    border-radius: 10px;
  }
}

.g-right-paragraph {
  h2 {
    color: #333D4B;
    font-family: 'Fraunces', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
  }

  p {
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
}


/*============================
          Quality Promo
  ============================*/
.g-quality-promo-area {
  margin-bottom: 165px;
  margin-top: 88px;
}

.g-quality-promo-main {
  background-image: url("../../assets/about/desktop/bg-quality.png");
  background-repeat: repeat;
  background-size: cover;
  min-height: 475px;
  border-radius: 10px;
}

.g-quality-promo-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 125px;
  height: 100%;
}

.g-quality-promo.left {
  flex: 3;

  h3 {
    color: #FEFCF7;
    font-family: 'Fraunces', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 30px;
  }

  p {
    color: #FEFCF7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
}

.g-quality-promo.right {
  flex: 2;

  picture {
    position: relative;
    bottom: 88px;

    img {
      border-radius: 10px;
    }
  }
}

/*============================
         Headquarters
  ============================*/
.g-headquarters-header {
  margin-bottom: 70px;

  h3 {
    color: #83888F;
    font-family: 'Fraunces', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
  }
}

.g-headquarters-main {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 165px;
}

.g-headquarters-location {
  img {
    margin-bottom: 45px;
  }

  address {
    color: #333D4B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    h3 {
      color: #333D4B;
      font-family: 'Fraunces', sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 900;
      line-height: 36px;
    }
  }
}


















