/*============================
          Contact
  ============================*/
.g-get-in-touch-main {
  display: flex;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3rem 0;

  @media all and (max-width: 767px) {
    flex-direction: column;
  }

  .g-lead-text {
    flex: 2;
    margin-bottom: 1.8rem;

    h1 {
      font-family: 'Ibarra Real Nova', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 42px;
      letter-spacing: -0.357143px;
      color: #33323D;
    }
  }

  .g-lead-paragraph {
    flex: 3;

    p {
      font-family: 'Public Sans', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: rgba(51, 50, 61, 0.8);
    }
  }
}

.g-contact-social {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.g-contact-area {
  display: flex;
  padding: 3rem 0;
  width: 100%;
  @media all and (max-width: 767px) {
    flex-direction: column;
  }

  h1 {
    flex: 2;
    margin-bottom: 1.8rem;
  }

  form {
    flex: 3;

    p {
      margin-bottom: 1.5rem;

      label {
        display: block;
        font-family: 'Public Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 30px;
        color: rgba(51, 50, 61, 0.8);
        mix-blend-mode: normal;
      }

      input {
        background-color: rgba(51, 50, 61, 0.1);
        display: block;
        width: 100%;
        border: 1px solid transparent;
        height: 48px;
        padding: 1rem;
      }

      textarea {
        background-color: rgba(51, 50, 61, 0.1);
        display: block;
        width: 100%;
        border: 1px solid transparent;
        padding: 1rem;
        resize: vertical;
      }
    }
  }

}
