.g-portfolio-single-main {
  overflow: hidden;
}

.g-pf-single-banner {
  margin-bottom: 115px;
  @media all and (max-width: 575px) {
    margin-bottom: 40px;
  }
}

.g-pf-single-details {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  @media all and (max-width: 767px) {
    flex-direction: column;
  }
}


.g-left-summary {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.g-left-summary-meta {
  h2 {
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: var(--grayish-dark-blue);
    margin-bottom: 30px;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgba(51, 50, 61, 0.8);
    mix-blend-mode: normal;
    margin-bottom: 25px;
  }

  a {
    @media all and (max-width: 767px) {

    }
  }
}

.g-pf-category, .g-portfolio-tags {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.g-portfolio-tags {
  @media all and (max-width: 767px) {

  }
}

.g-right-details {
  max-width: 635px;
  width: 100%;
  @media all and (max-width: 767px) {
    max-width: 100%;
    width: 100%;
  }
}

.g-project-description {
  h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;
    margin-bottom: 28px;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgba(51, 50, 61, 0.8);
    mix-blend-mode: normal;
    margin-bottom: 25px;
  }
}

.g-project-preview {
  h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;
    margin-bottom: 28px;
  }

}

.preview-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.g-pf-navigations-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  margin: 64px 0;
  flex: 1 0 0;
}

.left-nav-area {
  padding: 32px 0;
  max-width: 50%;
  width: 100%;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;

    p {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      span {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.285714px;
        @media all and (max-width: 575px){
          font-size: 20px;
          line-height: 1em;
        }
      }

      small {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: rgba(51, 50, 61, 0.5);
        mix-blend-mode: normal;
        @media all and (max-width: 575px){
          font-size: 14px;
          line-height: 1.4em;
        }
      }
    }
  }
}

.right-nav-area {
  border-left: 1px solid rgba(51, 50, 61, 0.15);
  max-width: 50%;
  width: 100%;
  padding: 32px 0;

  a {
    display: flex;
    flex: 1 0 0;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    gap: 1rem;

    p {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      span {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.285714px;
        @media all and (max-width: 575px){
          font-size: 20px;
          line-height: 1em;
        }
      }

      small {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: rgba(51, 50, 61, 0.5);
        mix-blend-mode: normal;
        @media all and (max-width: 575px){
          font-size: 14px;
          line-height: 1.4em;
        }
      }
    }
  }
}
