.g-pf-single-banner {
  margin-bottom: 115px;
}

.g-pf-single-details {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}


.g-left-summary {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.g-left-summary-meta {
  h2 {
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: var(--grayish-dark-blue);
    margin-bottom: 30px;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgba(51, 50, 61, 0.8);
    mix-blend-mode: normal;
    margin-bottom: 25px;
  }
}

.g-pf-category, .g-portfolio-tags {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-color);
  margin-bottom: 16px;
}


.g-project-description {
  h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;
    margin-bottom: 28px;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: rgba(51, 50, 61, 0.8);
    mix-blend-mode: normal;
    margin-bottom: 25px;
  }
}

.g-project-preview {
  h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;
    margin-bottom: 28px;
  }

}

.preview-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
