/*============================
         PORTFOLIO
  ============================*/
.g-portfolio-area:not(:first-of-type) {
  padding: 40px 0;
  overflow: hidden;
}

.g-portfolio-area:first-of-type {
  padding-bottom: 40px;
}

.g-portfolio-area:nth-of-type(even) {
  .g-portfolio-main {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-start;
    @media all and (max-width: 575px) {
      flex-direction: column;
    }
  }
}

.g-portfolio-main {
  display: flex;
  align-items: center;
  gap: 125px;
  min-height: 500px;
  @media all and (max-width: 767px) {
    gap: 69px;
  }
  @media all and (max-width: 575px) {
    min-height: 100%;
    flex-direction: column;
  }
}

.g-portfolio-rightpart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  gap:24px;
}

.g-portfolio-rightpart-content {
  max-width: 350px;
  width: 100%;
  @media all and (max-width: 575px){
    max-width: 100%
  }

  h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-bottom: 30px;
  }

  p {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 24px;
  }
}
