/*============================
    All Variables For Project
  ============================*/
:root {
  --primary-color: #5FB4A2;
  --dark-blue: #203A4C;
  --grayish-dark-blue: #33323D;
  --very-light-gray: #FAFAFA;
  --light-gray: #EAEAEB;
  --bright-red: #F43030;
}

h1, h2, h3, h3, h4, h5, h6 {
  font-family: 'Ibarra Real Nova', serif;
  font-style: normal;
  color: var(--dark-blue);
}


/*============================
         All Fonts Family
  ============================*/
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&family=Ibarra+Real+Nova:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&family=Ibarra+Real+Nova:wght@400;500&display=swap');

/*============================
         All Reset Code
============================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border:1px solid crimson;

  &::after, &::before {
    box-sizing: border-box;
  }
}

html,
body {
  font-family: "Public Sans", 'Ibarra Real Nova', serif;
  background-color: var(--very-light-gray);
}


.container {
  max-width: 1110px;
  width: 100%;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  @media all and (max-width: 1170px) {
    padding-right: calc(var(--bs-gutter-x) * 1.2);
    padding-left: calc(var(--bs-gutter-x) * 1.2);
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.btn {
  display: inline-flex;
  overflow: hidden;
  text-align: center;
  width: 200px;
  background-color: var(--grayish-dark-blue);
  border: none;
  height: 48px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: var(--primary-color);

    > img {
      background-color: darken(#5FB4A2, 10%);
    }
  }

  img {
    background-color: var(--dark-blue);
    padding: 1rem;
  }

  span {
    text-align: center;
    justify-self: center;
    color: #ffffff;
    flex-grow: 1;
  }
}

a {
  text-decoration: none;
  color: #33323D;
}

.btn-outline {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  height: 48px;
  align-items: center;
  border: 1px solid #33323D;
  color: #33323D;
  cursor: pointer;
  padding: 1rem 1.8rem;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 40px var(--primary-color) inset;
    border: 1px solid var(--primary-color);
    color: #ffffff;
  }
}

.btn-solid {
  display: inline-block;
  text-align: center;
  height: 48px;
  align-items: center;
  border: 1px solid var(--dark-blue);
  color: #ffffff;
  cursor: pointer;
  padding: 1rem 1.8rem;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 0 0 40px 40px var(--dark-blue) inset, 0 0 0 0 var(--dark-blue);
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 var(--dark-blue) inset, 0 0 10px 4px var(--dark-blue);
    color: var(--dark-blue);
  }
}

.g-horizontal-line {
  height: 1px;
  background-color: rgba(51, 50, 61, 0.15);
  width: 100%;
}

/*============================
             Loader
  ============================*/

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(243, 243, 243, 0.95);
  z-index: 3;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#loading-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  z-index: 2;
}

//End Loading


/*============================
         Importing Parts
  ============================*/
@import "pages/home";
@import "pages/portfolio";
@import "pages/contact";
@import "pages/portfolio-single";

