/*============================
    All Variables For Project
  ============================*/
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&family=Ibarra+Real+Nova:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&family=Ibarra+Real+Nova:wght@400;500&display=swap");
:root {
  --primary-color: #5FB4A2;
  --dark-blue: #203A4C;
  --grayish-dark-blue: #33323D;
  --very-light-gray: #FAFAFA;
  --light-gray: #EAEAEB;
  --bright-red: #F43030;
}

h1, h2, h3, h3, h4, h5, h6 {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  color: var(--dark-blue);
}

/*============================
         All Fonts Family
  ============================*/
/*============================
         All Reset Code
============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

html,
body {
  font-family: "Public Sans", "Ibarra Real Nova", serif;
  background-color: var(--very-light-gray);
}

.container {
  max-width: 1110px;
  width: 100%;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media all and (max-width: 1170px) {
  .container {
    padding-right: calc(var(--bs-gutter-x) * 1.2);
    padding-left: calc(var(--bs-gutter-x) * 1.2);
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.btn {
  display: inline-flex;
  overflow: hidden;
  text-align: center;
  width: 200px;
  background-color: var(--grayish-dark-blue);
  border: none;
  height: 48px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  background-color: var(--primary-color);
}
.btn:hover > img {
  background-color: #479987;
}
.btn img {
  background-color: var(--dark-blue);
  padding: 1rem;
}
.btn span {
  text-align: center;
  justify-self: center;
  color: #ffffff;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #33323D;
}

.btn-outline {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  height: 48px;
  align-items: center;
  border: 1px solid #33323D;
  color: #33323D;
  cursor: pointer;
  padding: 1rem 1.8rem;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn-outline:hover {
  box-shadow: 0 0 40px 40px var(--primary-color) inset;
  border: 1px solid var(--primary-color);
  color: #ffffff;
}

.btn-solid {
  display: inline-block;
  text-align: center;
  height: 48px;
  align-items: center;
  border: 1px solid var(--dark-blue);
  color: #ffffff;
  cursor: pointer;
  padding: 1rem 1.8rem;
  white-space: nowrap;
  text-decoration: none;
  box-shadow: 0 0 40px 40px var(--dark-blue) inset, 0 0 0 0 var(--dark-blue);
  transition: all 150ms ease-in-out;
}
.btn-solid:hover {
  box-shadow: 0 0 10px 0 var(--dark-blue) inset, 0 0 10px 4px var(--dark-blue);
  color: var(--dark-blue);
}

.g-horizontal-line {
  height: 1px;
  background-color: rgba(51, 50, 61, 0.15);
  width: 100%;
}

/*============================
             Loader
  ============================*/
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(243, 243, 243, 0.95);
  z-index: 3;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#loading-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  z-index: 2;
}

/*============================
         Importing Parts
  ============================*/
/*============================
         Home Page
  ============================*/
.g-header-area {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 575px) {
  .g-header-area {
    min-height: 100px;
  }
}

.g-header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.g-header-main .g-top-navigation {
  transition: all 0.4s ease;
}
@media all and (max-width: 575px) {
  .g-header-main .g-top-navigation {
    display: none;
    opacity: 0;
    transition: all 0.4s ease;
    position: absolute;
    top: 60px;
    right: 17px;
    z-index: 2;
    background-color: #33323D;
    width: 100%;
    max-width: 225px;
  }
  .g-header-main .g-top-navigation.show {
    transition: all 0.4s ease;
    display: block;
    opacity: 1;
  }
}
.g-header-main .g-top-navigation ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3.5rem;
}
@media all and (max-width: 576px) {
  .g-header-main .g-top-navigation ul {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 2rem;
    padding: 3rem 1rem;
  }
}
.g-header-main .g-top-navigation li {
  list-style: none;
}
@media all and (max-width: 576px) {
  .g-header-main .g-top-navigation li {
    text-align: center;
  }
}
.g-header-main .g-top-navigation a {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  color: #33323D;
}
@media all and (max-width: 576px) {
  .g-header-main .g-top-navigation a {
    color: #ffffff;
    font-size: 12px;
  }
}
.g-header-main .g-top-navigation a:hover {
  color: var(--primary-color);
}

/*============================
      Mobile Navigation
  ============================*/
.g-hamburger {
  border: none;
  background-color: transparent;
}
@media all and (min-width: 576px) {
  .g-hamburger {
    display: none;
  }
}

.close {
  display: none;
  opacity: 1;
}

/*============================
           HOME BANNER
  ============================*/
.g-banner-main figure {
  position: relative;
}
.g-banner-main figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 445px;
  width: 100%;
  max-height: 337px;
  height: 100%;
  background-color: var(--very-light-gray);
  display: inline-flex;
  flex-direction: column;
  gap: 3.3125rem;
  justify-content: flex-end;
}
@media all and (max-width: 575px) {
  .g-banner-main figcaption {
    position: initial;
    padding: 24px 0;
    gap: 1.8rem;
    max-height: 100%;
  }
}
.g-banner-main figcaption h3 {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.446429px;
  color: #33323D;
}
@media all and (max-width: 575px) {
  .g-banner-main figcaption h3 {
    font-size: 40px;
    line-height: 42px;
  }
}

/*=================================
     Home ==> About Me Sections
  =================================*/
.g-about-me-area {
  padding: 150px 0;
}
@media all and (max-width: 575px) {
  .g-about-me-area {
    padding: 50px 0 0;
  }
}

.g-about-me-main {
  display: flex;
  align-items: center;
  gap: 125px;
  max-height: 600px;
  height: 100%;
  width: 100%;
}
@media all and (max-width: 767px) {
  .g-about-me-main {
    gap: 69px;
    max-height: 100%;
  }
}
@media all and (max-width: 575px) {
  .g-about-me-main {
    gap: 32px;
    max-height: 100%;
    flex-direction: column;
  }
}

.g-about-me-rightpart {
  max-width: 350px;
  width: 100%;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  padding: 2.5rem 0;
}
@media all and (max-width: 575px) {
  .g-about-me-rightpart {
    max-width: 100%;
  }
}
.g-about-me-rightpart h1 {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  margin-bottom: 30px;
}
.g-about-me-rightpart p {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 24px;
}

/*============================
      Home ==> Footer CTA
  ============================*/
.g-home-footer-cta {
  margin: 150px 0;
  width: 100%;
}
@media all and (max-width: 575px) {
  .g-home-footer-cta {
    margin: 80px 0;
  }
}

.g-home-footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
@media all and (max-width: 575px) {
  .g-home-footer-main {
    flex-direction: column;
    gap: 40px;
  }
}
.g-home-footer-main h3 {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  flex-shrink: 0;
  max-width: 350px;
}
@media all and (max-width: 575px) {
  .g-home-footer-main h3 {
    text-align: center;
  }
}
@media all and (max-width: 575px) {
  .g-home-footer-main span.g-horizontal-line {
    display: none;
  }
}
.g-home-footer-main a {
  flex-shrink: 0;
}

.g-footer-area {
  background-color: var(--grayish-dark-blue);
  min-height: 80px;
  display: grid;
  place-items: center;
}
@media all and (max-width: 575px) {
  .g-footer-area {
    padding: 56px 0;
  }
}

.g-footer-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 575px) {
  .g-footer-main {
    flex-direction: column;
    gap: 40px;
  }
}

.g-footer-left-part {
  display: flex;
  gap: 3rem;
  align-items: center;
}
@media all and (max-width: 575px) {
  .g-footer-left-part {
    flex-direction: column;
    gap: 40px;
  }
}

.g-footer-menu {
  display: flex;
  gap: 2rem;
}
.g-footer-menu a {
  text-decoration: none;
  font-family: "Public Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.g-footer-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.g-footer-social {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/*============================
         PORTFOLIO
  ============================*/
.g-portfolio-area:not(:first-of-type) {
  padding: 40px 0;
  overflow: hidden;
}

.g-portfolio-area:first-of-type {
  padding-bottom: 40px;
}

.g-portfolio-area:nth-of-type(even) .g-portfolio-main {
  flex-direction: row-reverse;
  width: 100%;
  justify-content: flex-start;
}
@media all and (max-width: 575px) {
  .g-portfolio-area:nth-of-type(even) .g-portfolio-main {
    flex-direction: column;
  }
}

.g-portfolio-main {
  display: flex;
  align-items: center;
  gap: 125px;
  min-height: 500px;
}
@media all and (max-width: 767px) {
  .g-portfolio-main {
    gap: 69px;
  }
}
@media all and (max-width: 575px) {
  .g-portfolio-main {
    min-height: 100%;
    flex-direction: column;
  }
}

.g-portfolio-rightpart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  gap: 24px;
}

.g-portfolio-rightpart-content {
  max-width: 350px;
  width: 100%;
}
@media all and (max-width: 575px) {
  .g-portfolio-rightpart-content {
    max-width: 100%;
  }
}
.g-portfolio-rightpart-content h1 {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  margin-bottom: 30px;
}
.g-portfolio-rightpart-content p {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 24px;
}

/*============================
          Contact
  ============================*/
.g-get-in-touch-main {
  display: flex;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 3rem 0;
}
@media all and (max-width: 767px) {
  .g-get-in-touch-main {
    flex-direction: column;
  }
}
.g-get-in-touch-main .g-lead-text {
  flex: 2;
  margin-bottom: 1.8rem;
}
.g-get-in-touch-main .g-lead-text h1 {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
}
.g-get-in-touch-main .g-lead-paragraph {
  flex: 3;
}
.g-get-in-touch-main .g-lead-paragraph p {
  font-family: "Public Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(51, 50, 61, 0.8);
}

.g-contact-social {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.g-contact-area {
  display: flex;
  padding: 3rem 0;
  width: 100%;
}
@media all and (max-width: 767px) {
  .g-contact-area {
    flex-direction: column;
  }
}
.g-contact-area h1 {
  flex: 2;
  margin-bottom: 1.8rem;
}
.g-contact-area form {
  flex: 3;
}
.g-contact-area form p {
  margin-bottom: 1.5rem;
}
.g-contact-area form p label {
  display: block;
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  color: rgba(51, 50, 61, 0.8);
  mix-blend-mode: normal;
}
.g-contact-area form p input {
  background-color: rgba(51, 50, 61, 0.1);
  display: block;
  width: 100%;
  border: 1px solid transparent;
  height: 48px;
  padding: 1rem;
}
.g-contact-area form p textarea {
  background-color: rgba(51, 50, 61, 0.1);
  display: block;
  width: 100%;
  border: 1px solid transparent;
  padding: 1rem;
  resize: vertical;
}

.g-portfolio-single-main {
  overflow: hidden;
}

.g-pf-single-banner {
  margin-bottom: 115px;
}
@media all and (max-width: 575px) {
  .g-pf-single-banner {
    margin-bottom: 40px;
  }
}

.g-pf-single-details {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
@media all and (max-width: 767px) {
  .g-pf-single-details {
    flex-direction: column;
  }
}

.g-left-summary {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.g-left-summary-meta h2 {
  font-family: "Ibarra Real Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: var(--grayish-dark-blue);
  margin-bottom: 30px;
}
.g-left-summary-meta p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: rgba(51, 50, 61, 0.8);
  mix-blend-mode: normal;
  margin-bottom: 25px;
}
.g-pf-category, .g-portfolio-tags {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.g-right-details {
  max-width: 635px;
  width: 100%;
}
@media all and (max-width: 767px) {
  .g-right-details {
    max-width: 100%;
    width: 100%;
  }
}

.g-project-description h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.285714px;
  margin-bottom: 28px;
}
.g-project-description p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: rgba(51, 50, 61, 0.8);
  mix-blend-mode: normal;
  margin-bottom: 25px;
}

.g-project-preview h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.285714px;
  margin-bottom: 28px;
}

.preview-area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.g-pf-navigations-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  margin: 64px 0;
  flex: 1 0 0;
}

.left-nav-area {
  padding: 32px 0;
  max-width: 50%;
  width: 100%;
}
.left-nav-area a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
}
.left-nav-area a p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.left-nav-area a p span {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.285714px;
}
@media all and (max-width: 575px) {
  .left-nav-area a p span {
    font-size: 20px;
    line-height: 1em;
  }
}
.left-nav-area a p small {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(51, 50, 61, 0.5);
  mix-blend-mode: normal;
}
@media all and (max-width: 575px) {
  .left-nav-area a p small {
    font-size: 14px;
    line-height: 1.4em;
  }
}

.right-nav-area {
  border-left: 1px solid rgba(51, 50, 61, 0.15);
  max-width: 50%;
  width: 100%;
  padding: 32px 0;
}
.right-nav-area a {
  display: flex;
  flex: 1 0 0;
  flex-direction: row-reverse;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
}
.right-nav-area a p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.right-nav-area a p span {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.285714px;
}
@media all and (max-width: 575px) {
  .right-nav-area a p span {
    font-size: 20px;
    line-height: 1em;
  }
}
.right-nav-area a p small {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(51, 50, 61, 0.5);
  mix-blend-mode: normal;
}
@media all and (max-width: 575px) {
  .right-nav-area a p small {
    font-size: 14px;
    line-height: 1.4em;
  }
}

/*# sourceMappingURL=style.css.map */
