/*============================
   Style For Multiple Boxes
  ============================*/
.box-section {
    display: block;
    width: 100%;
    padding: 0 15px ;
}

.box {
    width: calc(20% - 20px);
    margin: 5px 10px 10px;
    height: 80px;
    border: 1px solid crimson;
    border-radius: 5px;
    float: left;
    text-align: center;
    background-color: crimson;
    color: #ffffff;
    position: relative;
}




@media screen and (max-width: 768px) {
    .box {
        width: 100%;
        height: 80px;
        border: 1px solid crimson;
        float: left;
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}
