@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&family=Fraunces:wght@700;900&family=Ibarra+Real+Nova:wght@400;500&family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Chivo:wght@300;400;500;700&family=Fraunces:wght@700;900&family=Ibarra+Real+Nova:wght@400;500&family=Public+Sans&display=swap');

/*============================
       All File Import
  ============================*/
@import "themes/bootstrap";
@import "pages/home";
@import "pages/about";
@import "pages/plan";

html, body {
  font-family: 'Barlow', sans-serif;
}
body {
  background-color: #FEFCF7;
}
button.btn {
  font-weight: 900;
}
