body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

p {
    font-size: 15px;
}

.img-fluid {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

.card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 320px;
}

.card-img {
    padding: 0.9rem;
    border-radius: 8%;
}

.card h3 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
    padding: 0 1.5rem;
}


.card p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 0.5rem;
    color: hsl(220, 15%, 55%);
    padding: 0 1.5rem;
    display: inline-block;
    line-height: 1.2;
}

@media screen and (max-width: 375px) {
    .card {
        width: 200px;
        height: 300px;
    }

    .card-img {
        width: 170px;
        height: 150px;
    }

    .card h3 {
        color: hsl(218, 44%, 22%);
        font-size: 15px;

    }

    .card p {
        font-size: 11px;
        margin-bottom: 20px;

    }

}
