.pagination {
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: lightgray;
  text-decoration: none;
  color: black;
}

.pagination a.active {
  background-color: gray;
  color: white;
}
