* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
  font-style: normal;
}
@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Regular.ttf);
  font-style: normal;
}
body, html {
  background-color: #1E1E1E;
  height: 100%;
  font-family: "Roboto-Regular", sans-serif;
}

.card {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 15px);
  transition: opacity 0.4s ease-in-out;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 928px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 36px;
}
@media all and (max-width: 768px) {
  .card-body {
    flex-direction: column-reverse;
    padding: 0;
    border-radius: 0;
  }
}

.card-left-part {
  padding: 0 64px;
}
@media all and (max-width: 768px) {
  .card-left-part {
    padding: 24px;
  }
}
.card-left-part h1 {
  color: #242742;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  margin-bottom: 24px;
}
.card-left-part p {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #242742;
  margin-bottom: 24px;
}
.card-left-part ul {
  display: block;
  list-style-image: url("../assets/images/icon-list.svg");
  padding-left: 27px;
  margin-bottom: 40px;
}
.card-left-part ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #242742;
  margin-bottom: 10px;
}
.card-left-part ul li span {
  position: relative;
  bottom: 4px;
  display: inline-block;
}

.form form {
  width: 100%;
}
.form form label {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #242742;
  margin-bottom: 14px;
}
.form form label small {
  float: right;
}
.form form input[type=email] {
  border: 1px solid rgba(25, 24, 43, 0.25);
  border-radius: 8px;
  padding: 16px 16px 16px 24px;
  display: block;
  width: 100%;
  color: rgb(25, 24, 43);
  margin-bottom: 24px;
}
.form form input[type=email].invalid {
  border: 1px solid rgb(255, 97, 85);
  background: rgba(255, 97, 85, 0.15);
  color: rgb(255, 97, 85);
}
.form form input[type=submit] {
  background: #242742;
  border-radius: 8px;
  border-color: transparent;
  box-shadow: none;
  display: block;
  width: 100%;
  padding: 18px;
  line-height: 1em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.form form input[type=submit]:hover {
  background: linear-gradient(204.47deg, #FF6A3A 0%, #FF527B 100%);
  box-shadow: 0 16px 32px rgba(255, 97, 85, 0.5);
  border-radius: 8px;
  border-color: transparent;
}

/*==================================
         Confirmation Message
  ==================================*/
.confirmation {
  background-color: #ffffff;
  max-width: 504px;
  width: 100%;
  border-radius: 36px;
  padding: 64px;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.confirmation h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  color: #242742;
  margin-top: 40px;
}
.confirmation p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #242742;
  margin-top: 24px;
  margin-bottom: 40px;
}
.confirmation p strong {
  font-weight: bold;
}
.confirmation button[type=button] {
  background: #242742;
  border-radius: 8px;
  border-color: transparent;
  box-shadow: none;
  display: block;
  width: 100%;
  padding: 18px;
  line-height: 1em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.confirmation button[type=button]:hover {
  background: linear-gradient(204.47deg, #FF6A3A 0%, #FF527B 100%);
  box-shadow: 0 16px 32px rgba(255, 97, 85, 0.5);
  border-radius: 8px;
  border-color: transparent;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#emailError {
  color: #FF6155;
}

/*# sourceMappingURL=main.css.map */
