* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}

@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(fonts/Roboto-Regular.ttf);
  font-style: normal;
}

body, html {
  background-color: #1E1E1E;
  height: 100%;
  font-family: 'Roboto-Regular', sans-serif;
}

.card {
  display: grid;
  place-items: center;
  height: 100%;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 928px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 36px;
}

.card-left-part {
  padding: 0 64px;

  h1 {
    color: #242742;
    font-family: 'Roboto-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    margin-bottom: 24px;
  }

  p {
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #242742;
    margin-bottom: 24px;
  }

  ul {
    display: block;
    list-style-image: url("../assets/images/icon-list.svg");
    padding-left: 27px;
    margin-bottom: 40px;

    li {
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      color: #242742;
      margin-bottom: 10px;

      span {
        position: relative;
        bottom: 4px;
        display: inline-block;
      }
    }
  }
}


.form {
  form {
    width: 100%;

    label {
      display: block;
      font-weight: 700;
      font-size: 12px;
      line-height: 150%;
      color: #242742;
      margin-bottom: 14px;
    }

    input {
      border: 1px solid rgba(25, 24, 43, 0.25);
      border-radius: 8px;
      padding: 16px 16px 16px 24px;
      display: block;
      width: 100%;
      color: rgba(25, 24, 43, 0.25);
      opacity: 0.5;
      margin-bottom: 24px;
    }

    button[type=submit] {
      background: #242742;
      border-radius: 8px;
      display: block;
      width: 100%;
      padding: 18px;
      line-height: 1em;
      text-align: center;
      color: #ffffff;
    }
  }
}
