.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 40px);
    margin: auto;

}

@media all and (max-width: 375px) {
    .container {
        padding: 20px;
    }
}

.box-area {
    width: 920px;
    margin: auto;
    height: 500px;
    display: flex;
    border-radius: 8px;
}

@media all and (max-width: 375px) {
    .box-area {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: auto;
    }

}

.single-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
    transition: all 0.6s ease-in-out;
    overflow: hidden;
}

.single-box:hover {
    scale: 1.1;
}

.color-sedans {
    background-color: #E28625;

}

.color-suvs {
    background-color: #006971;

}

.color-luuxury {
    background-color: #004140;
}

.single-box h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #F2F2F2;
    margin-top: 34px;

}

.single-box p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 29px;
    margin-bottom: 84px;

}

@media all and (max-width: 375px) {
    .single-box p {
        margin-bottom: 28px;
    }
}

.single-box button {
    width: 146px;
    height: 48px;
    border-radius: 25px;
    border: none;
}

.btn-sedans {
    color: #E28625;
}

.btn-suvs {
    color: #006971;
}

.btn-luxury {
    color: #004140;
}
