:root {
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --black: #000000;
    --mediumpurple: #9370DB;
    --white: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-image: url(../images/bg-bottom.svg), url(../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    background-color: #E7E7E7;
}

@media all and (max-width: 600px) {
    body {
        margin: 20px;
    }
}

.container {
    width: 100%;
    min-height: calc(100vh - 20px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 28px;
    color: var(--grayish-blue);
    text-align: center;
}

@media all and (max-width: 600px) {
    .header {
        font-size: 20px;
    }
}

.section-element {
    font-size: 15px;
    color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5%
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

@media all and (max-width: 600px) {
    .switch {
        width: 50px;
        height: 24px;
    }
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mediumpurple);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

@media all and (max-width: 600px) {
    .slider:before {
        height: 16px;
        width: 18px;
    }
}

input:checked + .slider {
    background-color: var(--mediumpurple);
}

input:focus + .slider {
    box-shadow: 0 0 1px #9370DB;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.section-1 {
    margin: 35px 0;
}

.section-2 {
    margin-top: 30px;
}

.main-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 600px) {
    .main-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }

}

.card {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: var(--white);
    padding: 1.5rem;
    transition: all 0.4s ease-in-out;
}

@media all and (max-width: 600px) {
    .card-1 {
        border-radius: 9px;
        margin-bottom: 20px;
    }
}

.card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 50px;
    margin: 25px 0;
}

.card-price.monthly {
    display: none;
}

.card-price span {
    font-size: 30px;
}

.card-professional > .card-property > .card-price {
    color: var(--white);
}

.card h3 {
    color: var(--grayish-blue);
    font-size: 15px;
    margin: 20px 0;
}

.card.card-professional h3 {
    color: var(--white);
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.card-property {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}


.card h4 {
    color: var(--grayish-blue);
    font-size: 15px;
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding-bottom: 15px;
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;

}
.card-storage{
    border-top: 1px solid hsl(234, 14%, 74%);
    padding-top: 15px;
}

.card > .card-property button {
    height: 35px;
    width: 250px;
    border-radius: 4px;
    color: var(--white);
    margin-top: 20px;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.card > .card-property button:hover {
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    border: 1px solid hsl(237, 63%, 64%);
    color: hsl(237, 63%, 64%);
}

.card-professional {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}


.card-professional h3 {
    color: var(--white);
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.card-color {
    color: var(--white);
}

.card-professional h4 {
    color: var(--white);
    font-size: 15px;
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding-bottom: 15px;
    margin-top: 10px;
    display:block;
    width: 100%;
    text-align: center;
}

.card-professional > .card-property button {
    height: 35px;
    width: 250px;
    border-radius: 8px;
    color: var(--mediumpurple);
    margin-top: 20px;
    background-image: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.card-professional > .card-property button:hover {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: var(--white);
    border-radius: 5px;
}
.card-master{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media all and (max-width: 600px) {
    .card-master {
        border-radius: 9px;
        margin-bottom: 20px;
    }
}









